<style>
    .text {
        padding: 0 0 0 0;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: 0.9rem;

        font-family: "Kaisei Opti", sans-serif;
    }

    .text.white {
        color: white;
        text-decoration: none;
    }

    .grey {

    }

    .text.white:hover {
        color: grey;
    }

    .navbar-nav {
        padding: 0 0 0 0;
    }
</style>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="padding-top: 0rem; padding-bottom: 0; background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand font-kaisei" style="font-size: 44px" href="/">Thrifty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="height: 100%">
            <div class="navbar-nav" style="height: fit-content;">
                <a class="text white" href="/">Home</a>
                <a class="text white" href="/item">Products</a>

                <% if(currentUser && currentUser.role.name === "seller") {%>
                    <% if (userStore != null) { %>
                        <a class="text white" href="/item/new">New Product</a>
                    <% } else {%>
                        <a class="text white" href="/store/new">New Store</a>
                    <% } %>
                <% }%>
            </div>
            <div class="navbar-nav ml-auto d-flex align-items-center justify-content-center" style="height: fit-content;">
                <!-- who the hell decides if something is null then just crash the system. -->
                <% var query = query || null; %>

                <form action="/item/search" class="d-flex align-items-center" style="justify-content: flex-end; height: 2rem;" role="search">
                    <input class="searchbar font-poppins mr-2 h-100" style="width: 50%" type="search" name="query" placeholder="Search" aria-label="Search" value='<%= query === "" ? "" : query%>'>
                    <button class="bland-btt btn d-flex align-items-center justify-content-center h-75" style="background-color: transparent;">
                        <img class="invert h-100" src="https://cdn.discordapp.com/attachments/694736624071737374/1120585822740160562/search.png" alt="">
                    </button>
                </form>
                <% if(!currentUser) {%>
                    <a class="text white ml-5" href="/user/login">Login</a>
                    <a class="text white" href="/user/register">Register</a>
                <% } else {%>
                    <p class="text white ml-5">Welcome <%= currentUser.username %>. <a style="font-weight: bolder; text-decoration: none;" href="/user/logout">Logout</a></p>
                <% } %>
            </div>
        </div>
    </div>
</nav>