<style>
    .button {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        border: none;
    }

    .button.zeround {
        border-radius: 15px;
        /* background-color: rgb(255, 255, 255); */
    }

    .button.circle {
        border-radius: 100px;
    }

    .floaty {
        position: fixed; 
        width: 100px; 
        height: fit-content; 
        bottom: 10px; 
        right: 25px;
    }

    .cgsahjdfas {
        text-decoration: none;
        color: black;
        align-items: center;
        text-align: center;
        justify-content: center;

        display: flex;
    }

    @media (max-width: 400px) {
        .large {
            display: none;
        }
    }

    img {
        height: 50%;
    }
</style>

<% if (currentUser != null) { %>
    <div id="floaty" class="large floaty d-flex flex-column justify-content-center align-items-center">
        <a class="button zeround cgsahjdfas mb-3 <%= currentUser && currentUser.role.name === 'seller' ? 'orange' : ''%>" style="width: 80%; height: 80px" href="/user/">
            <img src="https://cdn.discordapp.com/attachments/694736624071737374/1120613915294961686/icons8-user-96.png" alt="">
        </a>
        <% if(currentUser && currentUser.role.name != "seller") {%>
            <a class="button zeround cgsahjdfas mb-3" style="width: 80%; height: 80px" href="/cart/">
                <img src="https://cdn.discordapp.com/attachments/694736624071737374/1120613915034927204/icons8-shopping-cart-96.png" alt="">
            </a>
            <a class="button circle cgsahjdfas orange" style="width: 100%; height: 100px" href="/transaction">
                <img src="https://cdn.discordapp.com/attachments/694736624071737374/1120613914703573002/icons8-receipt-96.png" alt="">
            </a>
        <% } %>
    </div>
<% } %>

<script>
    function update(scroller) {
        var floatingDiv = document.getElementById('floaty');
        var footer = document.getElementById('foot');

        var y = scroller.scrollTop
        var y2 = (footer.offsetTop - 10) - window.innerHeight
        
        if (y > y2) {
            floatingDiv.style.bottom = (y - y2) + "px"
        } else {
            floatingDiv.style.bottom = ""
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        var scroller = document.getElementById('scroller');

        scroller.addEventListener("scroll", function() {
            update(scroller)
        })
        window.addEventListener("scroll", function() {
            update(scroller)
        })

        update(scroller);
    });
  </script>