<% layout('layouts/boilerplate')%>

<div class="d-flex flex-column align-items-center" style="height: fit-content; min-height: 100%;">
    <h1>this is homepage</h1>
    <!-- <% if(currentUser){ %>
        <h2>hello <%= currentUser.username %></h2>
        <h2>role: <%= currentUser.role.name %></h2>
    <% } %> -->
</div>