
.orange {
    background-color: #FFBF75;
}

.light-orange {
    background-color: #FFF2C5;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-kaisei {
    font-family: "Kaisei Opti", sans-serif;
}

.form-control.no-border {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.alert {
    z-index: 9999;
}

.black-rounded-button {
    background-color: black;
    border-radius: 30px;
    height: 60px;
    box-shadow: none;
    border: none;

    font-size: x-large;
    /* font-weight: bold; */
    color: white;
}

/* */

.btn-search {
    border-radius: 0px;
}

.bland-btt {
    text-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;

    border-radius: 0;
    appearance: none;
    display: flex;

    padding: 0;
}

.searchbar {
    text-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;

    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    padding: 0 15px
}

.btn-yes {

}

.btn-no {

}

.invert { filter: invert(100%); }