<% layout('layouts/boilerplate')%>

<!-- TODO: fix scrolling. -->
<style>
    .container {
        margin-left: 0;
        margin-right: 0;
        width: calc(100vw - 1rem);
    }

    .container.mt-5 {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
</style>

<div class="bypass-container d-flex flex-column align-items-center">
    <div style="flex-grow: 1; overflow-y: auto; overflow-x: hidden; min-width: 100vw;">
        <div class="row">
            <div class="col-md-6 offset-md-3 orange d-flex flex-column align-items-center" style="margin-top: 5rem; min-height: calc(100vh - 12rem);">
            <div class="font-kaisei" style="margin-top: 3rem;">Thrifty</div>
            <h1 class="card-title font-poppins" style="margin-bottom: 3rem;">Login</h1>
            <form action="/user/login" method="POST" class="validated-form w-100 d-flex flex-column align-items-center" novalidate>
                <input type="text" id="username" name="username" class="form-control no-border w-50 font-poppins mb-3" placeholder="Username" autofocus required>
                <input type="password" id="password" name="password" class="form-control no-border w-50 font-poppins mb-3" placeholder="Password" required>
                <button type="submit" class="black-rounded-button font-poppins w-50 mb-2">Login</button>
                <p class="font-poppins">New to Thrifty? <a style="font-weight: bolder; text-decoration: none;" href="/user/register">Join now!</a></p>
            </form>
        </div>
    </div>
</div>