<% layout('layouts/boilerplate')%>

<div class="d-flex flex-column align-items-center" style="height: fit-content; min-height: calc(100% - 88px + 32px); overflow-y: auto;">
    <div class="row" style="width: 100%;">
        <div class="col-md-6 offset-md-3 orange flex-column d-flex align-items-center" style="margin-top: 10vh; min-height: calc(100% - 88px);">
            <div class="font-kaisei" style="margin-top: 3rem;">Thrifty</div>
            <h1 class="card-title font-poppins" style="margin-bottom: 3rem;">Login</h1>
            <form action="/user/login" method="POST" class="validated-form w-100 d-flex flex-column align-items-center" novalidate>
                <input type="text" id="username" name="username" class="form-control no-border w-50 font-poppins mb-3" placeholder="Username" autofocus required>
                <input type="password" id="password" name="password" class="form-control no-border w-50 font-poppins mb-3" placeholder="Password" required>
                <button type="submit" class="black-rounded-button font-poppins w-50 mb-2">Login</button>
                <p class="font-poppins">New to Thrifty? <a style="font-weight: bolder; text-decoration: none;" href="/user/register">Join now!</a></p>
            </form>
        </div>
    </div>
</div>